.game__table {
  width: 300px;
  height: 300px;
  border-collapse: collapse;
  margin: 20px auto;
}

.main {
  background-color: #d9afd9;
  background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.game__table td {
  width: 100px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  border: 1px solid #000;
  cursor: pointer;
}

.game__table td:hover {
  background-color: #f0f0f0;
}

.cell button {
  border: none;
  background-color: transparent;
  font-size: 25px;
}

.main__gameSection {
  text-align: center;
}

.restartBtn {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  border: 1px solid #212121;
  padding: 10px;
  border-radius: 15px;
  width: 300px;
}
